<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <!-- Использованы классы бустрапа: -->
    <!-- border-top: создаёт тонкую линию сверху блока -->
    <footer class="page-footer font-small blue border-top">
        <!-- text-center: выравнивает текстовые блоки внутри блока по центру -->
        <!-- py-3: контент внутри размещается с отступом сверху и снизу -->
        <div class="footer-copyright text-center py-3">© 2022 Copyright
        <p><span style="color:red">Ya</span>tube</p>
      </div>
    </footer>
</body>
</html>